# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
build/
dist/
.eggs/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
*.log
data/
*.db

# OS
.DS_Store
Thumbs.db

# Test
.coverage
htmlcov/

# Misc
*.bak
*.swp 